.ngc.table-wrapper {
    position: relative;
}

.ngc.table {
    display: block;
    position: relative;
}


.ngc.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.ngc.table_part {
    float: left;
    height: 100%;
}

.ngc.columns {
    float: left;
    display: block;
    height: 100%;
}


.ngc.cell {
    float: left;
    height:100%;
    min-width: 10px;
    min-height: 10px;
}

.ngc.column-name {
    height: 12px;
}

.column-name-content {
    text-align: center;
    font-size: 10px;
}

.row-header-content {
    text-align: right;
    font-size: 10px;
    min-width: 24px;
}

.ngc.cell.bottom {
    float: left;
    height:1em;

}


.ngc.table_part.middle {
    display: table;
}

.ngc.columns.middle.scroll-wrapper {
    height: 100%;
    display: table-cell;
    overflow-x:hidden;
    overflow-y:scroll;
}

.ngc.vscrollbar {
    width:1px;
}

.ngc.columns.center.scroll-wrapper {
    height:1.01em;
    overflow-x:scroll;
    overflow-y:hidden;
    display: table-cell;
    padding: 0;
    margin: 0;
    position: relative;
}

.ngc.hscrollbar {
    height:1px;
    position: absolute;
}