<div class="ngc table">
    <div ng-transclude style="display: hidden"></div>

    <div class="ngc scroll-wrapper" ng-scrollable="{updateContentPosition:false, enableKinetic:false, wheelSpeed:1}"
         spy-x="$$scrollLeftPosition"
         spy-y="$$scrollTopPosition"
         spy-custom-content-width="$$contentWidth"
         spy-custom-content-height="$$contentHeight"
            >
        <table class="ngc">
            <!-- Column Names -->
            <tr class="ngc row column-names" ng-show="{{showColumnNames}}"  ng-class="{first: $first, last: $last}">
                <!-- Cells for row headers columns -->
                <td ng-repeat="column in $$leftRowHeadersColumns"
                    ng-class="{first: $first, last: $last}"
                    class="ngc row-header column-name cell {{column.clazz}}"
                    style="{{column.style}}">
                    <div class="ngc cell-content" style="{{column.style}}"></div>
                </td>

                <!-- Cells for left fixed columns -->
                <td ng-repeat="column in $$leftFixedColumns"
                    ng-class="{first: $first, last: $last}"
                    class="ngc left column-name cell {{$$leftColumnNames[$index].clazz}} {{column.clazz}}"
                    style="{{$$leftColumnNames[$index].style}}; {{column.style}}">
                    <div class="ngc cell-content" style="{{column.style}}">{{$$leftColumnNames[$index].value}}</div>
                </td>

                <!-- Cells for middle variable columns -->
                <td ng-repeat="column in $$variableCenterColumns"
                    ng-class="{first: $first, last: $last}"
                    class="ngc center column-name cell {{$$centerColumnNames[$index].clazz}} {{column.clazz}}"
                    style="{{$$centerColumnNames[$index].style}}; {{column.style}}">
                    <div class="ngc cell-content" style="{{column.style}}">{{$$centerColumnNames[$index].value}}</div>
                </td>

                <!-- Cells for right fixed columns -->
                <td ng-repeat="column in $$rightFixedColumns"
                    ng-class="{first: $first, last: $last}"
                    class="ngc right column-name cell {{$$rightColumnNames[$index].clazz}} {{column.clazz}}"
                    style="{{$$rightColumnNames[$index].style}}; {{column.style}}">
                    <div class="ngc cell-content" style="{{column.style}}">{{$$rightColumnNames[$index].value}}</div>
                </td>

            </tr>

            <!-- Headers -->
            <tr class="ngc row header"  ng-show="{{showHeader}}" ng-repeat="row in $$headerRows" ng-class="{first: $first, last: $last}">
                <!-- Cells for row headers columns -->
                <td ng-repeat="column in $$leftRowHeadersColumns"
                    ng-class="{first: $first, last: $last}"
                     class="ngc row-header header cell {{$$topLeftRowHeadersData[$parent.$index][$index].clazz}} {{column.clazz}}"
                     style="{{$$topLeftRowHeadersData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content" style="{{row.height}}; {{column.style}}" >{{$$topLeftRowHeadersData[$parent.$index][$index].value}}</div>
                </td>

                <!-- Cells for left fixed columns -->
                <td ng-repeat="column in $$leftFixedColumns"
                    ng-click="$$dispatchEvent('click', $event, $$topLeftData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$topLeftData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$topLeftData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$topLeftData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$topLeftData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$topLeftData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$topLeftData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$topLeftData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$topLeftData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$topLeftData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$topLeftData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc left header cell {{$$topLeftData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$topLeftData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$topLeftData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$topLeftData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$topLeftData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$topLeftData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$topLeftData[row.index][$index]}"></div>
                </td>

                <!-- Cells for middle variable columns -->
                <td ng-repeat="column in $$variableCenterColumns"
                    ng-click="$$dispatchEvent('click', $event, $$topCenterData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$topCenterData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$topCenterData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$topCenterData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$topCenterData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$topCenterData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$topCenterData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$topCenterData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$topCenterData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$topCenterData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$topCenterData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc center header cell {{$$topCenterData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$topCenterData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$topCenterData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$topCenterData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$topCenterData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$topCenterData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$topCenterData[row.index][$index]}"></div>
                </td>

                <!-- Cells for right fixed columns -->
                <td ng-repeat="column in $$rightFixedColumns"
                    ng-click="$$dispatchEvent('click', $event, $$topRightData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$topRightData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$topRightData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$topRightData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$topRightData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$topRightData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$topRightData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$topRightData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$topRightData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$topRightData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$topRightData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc right header cell {{$$topRightData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$topRightData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$topRightData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$topRightData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$topRightData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$topRightData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$topRightData[row.index][$index]}"></div>
                </td>


            </tr>

            <!-- Middle -->
            <tr class="ngc row middle" ng-repeat="row in $$rows" ng-class="{first: $first, last: $last}">
                <!-- Cells for row headers columns -->
                <td ng-repeat="column in $$leftRowHeadersColumns"
                    ng-class="{first: $first, last: $last}"
                    class="ngc row-header middle cell {{$$middleLeftRowHeadersData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$middleLeftRowHeadersData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content" style="{{row.height}}; {{column.style}}">{{$$middleLeftRowHeadersData[$parent.$index][$index].value}}</div>
                </td>

                <!-- Cells for left fixed columns -->
                <td ng-repeat="column in $$leftFixedColumns"
                    ng-click="$$dispatchEvent('click', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$middleLeftData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc left middle cell {{$$middleLeftData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$middleLeftData[$parent.$index][$index].style}} ; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$middleLeftData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$middleLeftData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$middleLeftData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$middleLeftData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$middleLeftData[row.index][$index]}"></div>
                </td>

                <!-- Cells for middle variable columns -->
                <td ng-repeat="column in $$variableCenterColumns"
                    ng-click="$$dispatchEvent('click', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$middleCenterData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc center cell middle {{$$middleCenterData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$middleCenterData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$middleCenterData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$middleCenterData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$middleCenterData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$middleCenterData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$middleCenterData[row.index][$index]}"></div>
                </td>

                <!-- Cells for right fixed columns -->
                <td ng-repeat="column in $$rightFixedColumns"
                    ng-click="$$dispatchEvent('click', $event, $$middleRightData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$middleRightData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$middleRightData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$middleRightData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$middleRightData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$middleRightData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$middleRightData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$middleRightData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$middleRightData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$middleRightData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$middleRightData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc right cell middle {{$$middleRightData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$middleRightData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$middleRightData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$middleRightData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$middleRightData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$middleRightData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$middleRightData[row.index][$index]}"></div>
                </td>

            </tr>

            <!-- Bottom -->
            <tr class="ngc row footer" ng-repeat="row in $$footerRows" ng-class="{first: $first, last: $last}">
                <!-- Cells for row headers columns -->
                <td ng-repeat="column in $$leftRowHeadersColumns"
                    ng-class="{first: $first, last: $last}"
                    class="ngc row-header footer cell {{$$bottomLeftRowHeadersData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$bottomLeftRowHeadersData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content" style="{{row.height}}; {{column.style}}">{{$$bottomLeftRowHeadersData[$parent.$index][$index].value}}</div>
                </td>

                <!-- Cells for left fixed columns -->
                <td  ng-repeat="column in $$leftFixedColumns"
                     ng-click="$$dispatchEvent('click', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-dblclick="$$dispatchEvent('dblclick', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-keydown="$$dispatchEvent('keydown', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-keypress="$$dispatchEvent('keypress', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-keyup="$$dispatchEvent('keyup', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-mousedown="$$dispatchEvent('mousedown', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-mousemove="$$dispatchEvent('mousemove', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-mouseover="$$dispatchEvent('mouseover', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-mouseup="$$dispatchEvent('mouseup', $event, $$bottomLeftData[$parent.$index][$index])"
                     ng-class="{first: $first, last: $last}"
                     class="ngc left footer cell {{$$bottomLeftData[$parent.$index][$index].clazz}} {{column.clazz}}"
                     style="{{$$bottomLeftData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$bottomLeftData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$bottomLeftData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$bottomLeftData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$bottomLeftData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$bottomLeftData[row.index][$index]}"></div>
                </td>

                <!-- Cells for middle variable columns -->
                <td ng-repeat="column in $$variableCenterColumns"
                    ng-click="$$dispatchEvent('click', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$bottomCenterData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc center footer cell {{$$bottomCenterData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$bottomCenterData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$bottomCenterData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$bottomCenterData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$bottomCenterData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$bottomCenterData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$bottomCenterData[row.index][$index]}"></div>
                </td>

                <!-- Cells for right fixed columns -->
                <td ng-repeat="column in $$rightFixedColumns"
                    ng-click="$$dispatchEvent('click', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-dblclick="$$dispatchEvent('dblclick', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-keydown="$$dispatchEvent('keydown', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-keypress="$$dispatchEvent('keypress', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-keyup="$$dispatchEvent('keyup', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-mousedown="$$dispatchEvent('mousedown', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-mouseleave="$$dispatchEvent('mouseleave', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-mouseenter="$$dispatchEvent('mouseenter', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-mousemove="$$dispatchEvent('mousemove', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-mouseover="$$dispatchEvent('mouseover', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-mouseup="$$dispatchEvent('mouseup', $event, $$bottomRightData[$parent.$index][$index])"
                    ng-class="{first: $first, last: $last}"
                    class="ngc right footer cell {{$$bottomRightData[$parent.$index][$index].clazz}} {{column.clazz}}"
                    style="{{$$bottomRightData[$parent.$index][$index].style}}; {{row.height}}; {{column.style}}">
                    <div class="ngc cell-content ngc-custom-html" style="{{row.height}}; {{column.style}}"
                         ng-if="!$$bottomRightData[$parent.$index][$index].customCellTemplate"
                         ng-bind-html="$$bottomRightData[$parent.$parent.$index][$index].customHTML"></div>
                    <div class="ngc cell-content ngc-custom-cell-template" style="{{row.height}}; {{column.style}}"
                         ng-if="$$bottomRightData[$parent.$index][$index].customCellTemplate"
                         ext-include="$$bottomRightData[row.index][$index].customCellTemplate"
                         scope-extension="{'rawCellData': $$bottomRightData[row.index][$index]}"></div>
                </td>

            </tr>
        </table>
    </div>
</div>